DATA_DIR=data
RAW_DATA_PATH=data/external/online_shoppers_intention.csv
PROCESSED_DATA_PATH=data/processed/online_shoppers_intention_processed.csv
MODEL_DIR=artifacts/models
MLFLOW_TRACKING_URI=mlruns
MLFLOW_EXPERIMENT_NAME=tc-fase-2-baseline
TARGET_COLUMN=Revenue
TEST_SIZE=0.2
RANDOM_STATE=42
