.DS_Store
.env
.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/

dist/
build/
artifacts/
mlruns/

data/external/*
data/interim/*
data/processed/*
!data/external/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
